{% extends '/templates/base.html.twig' %}

{% block body %}
    <div class="uk-grid">
        <div class="uk-width-1-3">
            sidebar
        </div>
        <div class="content uk-width-2-3">
            <ul class="uk-list uk-list-divider">
                {% for sake in sakeList %}
                    <li>{{ sake }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
