{% extends '/templates/base.html.twig' %}

{% block body %}
    <div class="uk-grid">
        <div class="uk-width-1-3">
            {{ prefName }} : {{ prefEnName }}
        </div>
        <div class="content uk-width-2-3">
            <ul class="uk-list">
                {% for collection in sakeCollections %}
                    <li class="item-box uk-margin-medium">
                        <div class="uk-card uk-card-default uk-card-body">
                            <a href="#"></a>
                            <p>{{ collection }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
