{% extends '/templates/base.html.twig' %}

{% block body %}
    <div class="content">
        <div id="japanMap"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('jqueryJapanMap') }}
    {{ encore_entry_script_tags('japanMap') }}
{% endblock %}